include AUTHORS
include Gruntfile.js
include INSTALL
include LICENSE
include LICENSE.python
include MANIFEST.in
include package.json
include tox.ini
include CMakeLists.txt
include *.rst
graft django
graft cpp
graft docs
graft extras
graft js_tests
graft tests
global-exclude *.py[co]
prune scripts
